[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
argon2-cffi = "*"
dotenv = "*"

[dev-packages]
django-stubs = "*"
faker = "*"

[requires]
python_version = "3.13"
